
# **Assignment - 2: Basic Data Understanding**

---

This assignment will get you familiarized with Python libraries and  functions required for data visualization.

---
## Part 1 - Loading data 
---

###Import the following libraries:  

* ```numpy``` with an alias name ```np```, 
* ```pandas``` with an alias name ```pd```, 
* ```matplotlib.pyplot``` with an alias name ```plt```, and 
* ```seaborn``` with an alias name ```sns```.

In [1]:
# Load the four libraries with their aliases 
# import ___ as ___
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Using the files ```train.csv``` and ```moviesData.csv```,  peform the following:

* Load these file as ```pandas``` dataframes and store it in variables named ```df``` and ```movies``` respectively. 
* Print the first ten rows of ```df```.

In [33]:
# Load the file as a dataframe 
df = pd.read_csv('train.csv')
movies = pd.read_csv('moviesData.csv')

In [26]:
# Print the first ten rows of df
df.head(10)
movies.head(10)

,Unnamed: 0,title,title_type,genre,runtime,mpaa_rating,studio,thtr_rel_year,thtr_rel_month,thtr_rel_day,...,best_actor_win,best_actress_win,best_dir_win,top200_box,director,actor1,actor2,actor3,actor4,actor5
0,1,Filly Brown,Feature Film,Drama,80.0,R,Indomina Media Inc.,2013,4,19,...,no,no,no,no,Michael D. Olmos,Gina Rodriguez,Jenni Rivera,Lou Diamond Phillips,Emilio Rivera,Joseph Julian Soria
1,2,The Dish,Feature Film,Drama,101.0,PG-13,Warner Bros. Pictures,2001,3,14,...,no,no,no,no,Rob Sitch,Sam Neill,Kevin Harrington,Patrick Warburton,Tom Long,Genevieve Mooy
2,3,Waiting for Guffman,Feature Film,Comedy,84.0,R,Sony Pictures Classics,1996,8,21,...,no,no,no,no,Christopher Guest,Christopher Guest,Catherine O'Hara,Parker Posey,Eugene Levy,Bob Balaban
3,4,The Age of Innocence,Feature Film,Drama,139.0,PG,Columbia Pictures,1993,10,1,...,yes,no,yes,no,Martin Scorsese,Daniel Day-Lewis,Michelle Pfeiffer,Winona Ryder,Richard E. Grant,Alec McCowen
4,5,Malevolence,Feature Film,Horror,90.0,R,Anchor Bay Entertainment,2004,9,10,...,no,no,no,no,Stevan Mena,Samantha Dark,R. Brandon Johnson,Brandon Johnson,Heather Magee,Richard Glover
5,6,Old Partner,Documentary,Documentary,78.0,Unrated,Shcalo Media Group,2009,1,15,...,no,no,no,no,Chung-ryoul Lee,Choi Won-kyun,Lee Sam-soon,Moo,NaN,NaN
6,7,Lady Jane,Feature Film,Drama,142.0,PG-13,Paramount Home Video,1986,1,1,...,no,no,no,no,Trevor Nunn,Cary Elwes,John Wood,Michael Hordern,Jill Bennett II,Helena Bonham Carter
7,8,Mad Dog Time,Feature Film,Drama,93.0,R,MGM/United Artists,1996,11,8,...,yes,no,no,no,Larry Bishop,Richard Dreyfuss,Jeff Goldblum,Gabriel Byrne,Ellen Barkin,Diane Lane
8,9,Beauty Is Embarrassing,Documentary,Documentary,88.0,Unrated,Independent Pictures,2012,9,7,...,no,no,no,no,Neil Berkeley,Paul Reubens,Matt Groening,Todd Oldham,Jonathan Dayton,Cliff Benjamin
9,10,The Snowtown Murders,Feature Film,Drama,119.0,Unrated,IFC Films,2012,3,2,...,no,no,no,no,Justin Kurzel,Lucas Pittaway,Daniel Henshall,Louise Harris,Craig Coyne,Richard Green

### Using the dataframe ```df```, perform the following: 

* Print the first five rows of the column ```MonthlyRate```. 
* Find out the details of the column ```MonthlyRate``` like mean, maximum value, minimum value, etc.

In [9]:
# Print the first five rows of MonthlyRate
df['MonthlyRate'][0:5]

0    19479
1    24907
2     2396
3    23159
4    16632
Name: MonthlyRate, dtype: int64

In [10]:
# Find the details of MonthlyRate 
df['MonthlyRate'].describe()

count     1028.000000
mean     14243.531128
std       7048.768076
min       2094.000000
25%       8259.750000
50%      14074.500000
75%      20342.250000
max      26999.000000
Name: MonthlyRate, dtype: float64

---
## Part 2 - Cleaning and manipulating data 
---

### Using the dataframe ```df```, peform the following:

* Check whether there are any missing values in ```df```. 
* If yes, drop those values and print the size of ```df``` after dropping these.

In [21]:
# Check for missing values 
print(df.isna().sum())

# Drop the missing values 
df.dropna(inplace=True)

# Print the size of df after dropping 
print(df.size)

Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
ID                          0
MonthRateNew                0
dtype: int64
35980

### Using the dataframe ```df```, peform the following:

* Add another column named ```MonthRateNew``` in ```df``` by subtracting the mean from ```MonthlyRate``` and dividing it by standard deviation.

In [13]:
# Add a column named MonthRateNew 
df['MonthRateNew'] = df['MonthlyRate'] / df['MonthlyRate'].std()
print(df)

      Age  Attrition     BusinessTravel  DailyRate              Department  \
0      41          1      Travel_Rarely       1102                   Sales
1      49          0  Travel_Frequently        279  Research & Development
2      37          1      Travel_Rarely       1373  Research & Development
3      33          0  Travel_Frequently       1392  Research & Development
4      27          0      Travel_Rarely        591  Research & Development
...   ...        ...                ...        ...                     ...
1023   56          0      Travel_Rarely       1255  Research & Development
1024   47          0      Travel_Rarely        359  Research & Development
1025   24          0      Travel_Rarely       1476                   Sales
1026   32          0      Travel_Rarely        601                   Sales
1027   34          0      Travel_Rarely        401  Research & Development

      DistanceFromHome  Education EducationField  EmployeeCount  \
0                    1          2  Life Sciences              1
1                    8          1  Life Sciences              1
2                    2          2          Other              1
3                    3          4  Life Sciences              1
4                    2          1        Medical              1
...                ...        ...            ...            ...
1023                 1          2  Life Sciences              1
1024                 2          4        Medical              1
1025                 4          1        Medical              1
1026                 7          5      Marketing              1
1027                 1          3  Life Sciences              1

      EmployeeNumber  ...  StockOptionLevel TotalWorkingYears  \
0                  1  ...                 0                 8
1                  2  ...                 1                10
2                  4  ...                 0                 7
3                  5  ...                 0                 8
4                  7  ...                 1                 6
...              ...  ...               ...               ...
1023            1441  ...                 1                 5
1024            1443  ...                 2                26
1025            1445  ...                 2                 5
1026            1446  ...                 1                 7
1027            1447  ...                 1                 7

      TrainingTimesLastYear  WorkLifeBalance  YearsAtCompany  \
0                         0                1               6
1                         3                3              10
2                         3                3               0
3                         3                3               8
4                         3                3               2
...                     ...              ...             ...
1023                      3                4               3
1024                      2                4              20
1025                      3                3               5
1026                      3                2               4
1027                      2                2               5

     YearsInCurrentRole  YearsSinceLastPromotion YearsWithCurrManager    ID  \
0                     4                        0                    5     0
1                     7                        1                    7     1
2                     0                        0                    0     2
3                     7                        3                    0     3
4                     2                        2                    2     4
...                 ...                      ...                  ...   ...
1023                  2                        1                    0  1023
1024                 17                        5                    6  1024
1025                  4                        0                    3  1025
1026                  3                        0                    3  1026
1027                  4                        0                    2  1027

      MonthRateNew
0         2.763462
1         3.533525
2         0.339918
3         3.285539
4         2.359561
...            ...
1023      1.488771
1024      3.788322
1025      2.157966
1026      3.311643
1027      0.526049

[1028 rows x 35 columns]

### Using the dataframe ```movies```, perform the following: 

* Check whether there are any missing values in ```movies```. 
* Find out the number of observations/rows having any of their features/columns missing. 
* Drop the missing values and print the size of ```movies``` after dropping these. 
* Instead of dropping the missing values, replace the missing values by their mean (or some suitable value).

In [38]:
# Check for missing values 
print(movies.isna().sum())
# Drop the missing values 
print(movies.shape)
movies.dropna(inplace=True)
print(movies.shape)
# Replace the missing values 
# movies['runtime'].fillna(movies['runtime'].mean(), inplace=True)
# movies['studio'].fillna(movies['studio'].mode(), inplace=True)
# You can use SimpleImputer of sklearn for this

Unnamed: 0           0
title                0
title_type           0
genre                0
runtime              0
mpaa_rating          0
studio               5
thtr_rel_year        0
thtr_rel_month       0
thtr_rel_day         0
dvd_rel_year         7
dvd_rel_month        7
dvd_rel_day          7
imdb_rating          0
imdb_num_votes       0
critics_rating       0
critics_score        0
audience_rating      0
audience_score       0
best_pic_nom         0
best_pic_win         0
best_actor_win       0
best_actress_win     0
best_dir_win         0
top200_box           0
director             2
actor1               2
actor2               7
actor3               9
actor4              12
actor5              14
dtype: int64
(600, 31)
(572, 31)
Unnamed: 0          0
title               0
title_type          0
genre               0
runtime             0
mpaa_rating         0
studio              0
thtr_rel_year       0
thtr_rel_month      0
thtr_rel_day        0
dvd_rel_year        0
dvd_rel_month       0
dvd_rel_day         0
imdb_rating         0
imdb_num_votes      0
critics_rating      0
critics_score       0
audience_rating     0
audience_score      0
best_pic_nom        0
best_pic_win        0
best_actor_win      0
best_actress_win    0
best_dir_win        0
top200_box          0
director            0
actor1              0
actor2              0
actor3              0
actor4              0
actor5              0
dtype: int64

---
## Part 3 - Visualizing data 
---

### Visualize the ```df``` by drawing the following plots:

* Plot a histogram of ```Age``` and find the range in which most people are there. 
* Modify the histogram of ```Age``` by adding 30 bins. 
* Draw a scatter plot between ```Age``` and ```Attrition``` and suitable labels to the axes. Find out whether people more than 50 years are more likely to leave the company. (```Attrition``` = 1 means people have left the company).

In [0]:
# Plot and modify the histogram of Age

# Draw a scatter plot between Age and Attrition

### Visualize the ```df``` by following the steps given below:

* Get a series containing counts of unique values of ```Attrition```.
* Draw a countplot for ```Attrition``` using ```sns.countplot()```.

In [0]:
# Get a series of counts of values of Attrition


# Draw a countplot for Attrition 
# You may use countplot of seaborn for this

### Visualize the ```df``` by following the steps given below:

* Draw a cross tabulation of ```Attrition``` and ```BusinessTravel``` as bar charts. Find which value of ```BusinessTravel``` has highest number of people.

In [0]:
# Draw a cross tab of Attritiona and BusinessTravel 
# You may use crosstab of pandas for this

### Visualize the ```df``` by drawing the following plot:

* Draw a stacked bar chart between ```Attrition``` and ```Gender``` columns.

In [0]:
# Draw a stacked bar chart between Attrition and Gender

### Visualize the ```df``` by drawing the following histogram:

* Draw a histogram of ```TotalWorkingYears``` with 30 bins. 
* Draw a histogram of ```YearsAtCompany``` with 30 bins and find whether the values in ```YearsAtCompany``` are skewed.

In [0]:
# Draw a histogram of TotalWorkingYears with 30 bins


# Draw a histogram of YearsAtCompany

### Visualize the ```df``` by drawing the following boxplot:

* Draw a boxplot of ```MonthlyIncome``` for each ```Department``` and report whether there is/are outlier(s).

In [0]:
# Draw a boxplot of MonthlyIncome for each Department and report outliers

### Visualize the ```df``` by drawing the following piechart:

* Create a pie chart of the values in ```JobRole``` with suitable label and report which role has highest number of persons.

In [0]:
# Create a piechart of JobRole 
# You will need to find the counts of unique values in JobRole.